html,
body,
:root {
    font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* variables */
    --white: #fffffb;
    --green: #4d9e68;
    --orange: #d3852b;
    --yellow: #fff7aa;
    --brown: #994646;
    --gray: #7b746f;
    --gray-disabled: #b9b1ac;

    --corner-radius: 35px;

    color: var(--gray);
    background-color: var(--white);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0 10%;
    margin: 0;
}

/* buttons */
.big-btn {
    margin-top: 50px;
    padding: 15px 40px;
    border: none;
    border-radius: var(--corner-radius);
    background-color: var(--green);
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
}

.small-btn {
    border: solid;
    border-width: 2px;
    border-color: var(--gray-disabled);
    border-radius: var(--corner-radius);
    margin: 20px 10px;
    padding: 3px 15px;
    font-size: 1.2rem;
    color: var(--gray-disabled);
    background-color: transparent;
    cursor: pointer;
}

/* Text */
h1 {
    color: var(--orange);
    margin-bottom: -10px;
    font-size: 2.5rem;
    margin-bottom: 1px;
    text-align: center;
}

/* blobs */
.blob {
    height: 100vh;
    position: absolute;
    width: 550px;
    height: 550px;
    pointer-events: none;
    z-index: -1;
}

/* Top-right blob */
.blob-top-right {
    top: -15%;
    left: 70%;
    background-image: url('icons/blob1.svg');
}

/* Bottom-left blob */
.blob-bottom-left {
    bottom: -20%;
    left: -20%;
    background-image: url('icons/blob2.svg');
    overflow: hidden;
}

/* homepage */
.home--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.home--title p {
    font-size: 0.9rem;
    margin-top: -1px;
    text-align: center;
}

.home--chose-challenge p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: -10px;
    text-align: center;
}

.home--chose-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home--warning-message {
    font-size: larger;
    font-weight: 700;
    color: #e94528;
    position: absolute;
    left: 37%;
}

.quiz-question {
    margin-bottom: 10px;
}
