html,
body,
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #7b746f;
    background-color: #fffffb;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply w-full h-full min-h-screen;
    @apply text-gray-800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1 {
    color: #d3852b;
    margin-bottom: -10px;
}
