html,
body,
:root {
    font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* variables */
    --white: #fffffb;
    --green: #4d9e68;
    --orange: #d3852b;
    --yellow: #fff7aa;
    --brown: #994646;
    --gray: #7b746f;
    --gray-disabled: #aca8a6;

    --corner-radius: 35px;

    color: var(--gray);
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 0 10%;
    margin: 0;
    background: radial-gradient(
        circle,
        rgba(255, 255, 251, 1) 60%,
        rgba(255, 247, 170, 1) 75%,
        rgba(255, 237, 127, 1) 86%,
        rgba(255, 241, 97, 1) 92%,
        rgba(255, 165, 94, 1) 100%
    );
}

/* buttons */
@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.big-btn {
    margin-top: 50px;
    padding: 15px 40px;
    border: none;
    border-radius: var(--corner-radius);
    background-color: var(--green);
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.big-btn:hover {
    background-color: #479661;
}

.big-btn:active {
    animation: buttonClick 0.3s ease;
}

.small-btn {
    border: solid;
    border-width: 2px;
    border-color: var(--gray-disabled);
    border-radius: var(--corner-radius);
    margin: 20px 10px;
    padding: 3px 15px;
    font-size: 1.2rem;
    color: var(--gray-disabled);
    background-color: transparent;
    cursor: pointer;
}

/* Text */
h1 {
    color: var(--orange);
    margin-bottom: -10px;
    font-size: 2.5rem;
    margin-bottom: 1px;
    text-align: center;
}

hr {
    border: 1px solid #d8d8d8;
    border-top: none;
}

/* Quiz questions Animation */
.quiz-container {
    position: relative;
    overflow: hidden;
}

.slide-in {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.slide-out {
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

/* homepage */
.home--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.home--title p {
    font-size: 0.9rem;
    margin-top: -1px;
    text-align: center;
}

.home--chose-challenge p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: -5px;
    text-align: center;
}

.home--chose-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.home--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home--warning-message {
    font-size: larger;
    font-weight: 700;
    color: #e94528;
    position: absolute;
    left: 37%;
}

.quiz-question {
    margin-bottom: 10px;
    text-align: center;
}

/* Results page */

.results--try-btn {
    margin: 0 20px;
}

.results--answer-btn {
    margin: -15px;
}

.results--stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.results--stats p {
    font-size: medium;
    font-weight: 600;
}

.results--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
